<div class="col-xs-9">
	<h2>Books</h2>
	<table class="table table-hover table-inverse">
		<thead>
			<tr>
				<th></th>
				<th>Title</th>
				<th>Opnion</th>
				<th colspan="3"></th>
			</tr>
		</thead>
		<tbody>
			<!-- 投稿一覧表示 -->
		</tbody>
	</table>
</div>